@charset "utf-8";

.pop_list_type1 li {position: relative;margin: 0 0 1.2rem 1.2rem;color: #666;line-height: 2.6rem;}
.pop_list_type1 li::before {content: '·';position: absolute;top: -0.1rem;left: -1.2rem;}
.pop_list_type2 {margin: 0.6rem 0 0 1.2rem;color: #666;line-height: 2.6rem;}
.pop_list_type2 li {margin-bottom: 0.3rem;color: #666;line-height: 2.8rem;}
.pop_tit_dot{position: relative;padding-left: 1.2rem;font-size: 2.1rem;font-weight: 400;color:#333;line-height: 3rem;}
.pop_tit_dot::before {content: '·';position: absolute;top: 0; left: 0rem;}

.trade_note{margin: 3rem 0;line-height: 3rem;font-size: 2.1rem;color:#666;}
.pop_agreement_terms li label span{background-image: url(../img/icon_ck_on.png) 0 0 no-repeat;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}

.collect_info{display: flex;flex-direction: column;align-items: center;justify-content: center;}
.collect_info .visual_img_box{position: relative;width: 15rem; height: 14.5rem; margin-bottom: 2rem;}
.collect_info .visual_img_box::before{content: '';position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/img_collect_visual.png) 50% 50% no-repeat;background-size:15rem auto}
.collect_info .visual_img_box::after{content: '';position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/img_collect_visual_leaf.png) 50% 50% no-repeat;background-size:15rem auto}
.collect_info .visual_img_box img{position: absolute;top: 3rem;left: 4.2rem;}
.collect_info .collect_info_box{width: 100%;padding: 1.2rem 3rem;margin-bottom: 2rem;text-align:center;background-color: #F9F9F9;border-radius: 16px;}
.collect_info .collect_info_box p{line-height: 3.4rem;font-size:2.4rem;font-weight:700;}
.collect_info .collect_info_box span{line-height: 3rem;color: #666;}

/* 공통 */
button[disabled]{opacity: 0.6;}

.btn_arrow_b{height:2.5rem;width:2.5rem;background:url(../img/icon_arrow_bottom.png) 50% 50% no-repeat;background-size:2.4rem auto}

.icon_i{display:inline-flex;width:2.6rem;height:2.6rem;background:url(../img/icon_i.png) 0 0 no-repeat;background-size:2.6rem auto}
.icon_warning{display:inline-flex;width:6rem;height:6rem;background:url(../img/icon_warning.png) 0 0 no-repeat;background-size:6rem auto}
.icon_complate{display:inline-flex;width:6rem;height:6rem;background:url(../img/icon_complate.png) 0 0 no-repeat;background-size:6rem auto}

.dl_table {display: grid;grid-template-columns: auto 1fr;gap: 1rem 1rem;padding: 1rem;}
.dl_table dt {display: flex;align-items: flex-start;color: #999; line-height: 3rem;}
.dl_table dd {margin: 0;display: flex;align-items: center;color:#333;line-height: 3rem;font-size: 2.1rem;}