@charset "utf-8";
@import url("https://mtrade.nhqv.com/css/common/fonts.css");
@import url("https://mtrade.nhqv.com/css/common/reset.css");
@import url("https://mtrade.nhqv.com/css/common/unit.css?v230605");

:root {
	--paddCommon1:1.6rem;
	--paddMinusCommon1:-1.6rem;
	--paddCommon2:2rem;
	--paddMinusCommon2:-2rem;
	--paddCommon3:2.4rem;
	--paddMinusCommon3:-2.4rem;
	--paddCommon4:3rem;
	--paddMinusCommon4:-3rem;
	--shadowStyle:0;
	--theme:#84C13D;
	--themeC:#fff;
	--grayCommon:#767676;
	--fontF:NotoSans;
	--fontFM:NotoSansM;
	--fontFB:NotoSansB;
	--colorKeep:#0f957a;
	--colorDown:#277be9;
	--colorUp:#df3a37;
	--hasBg:#F2F4F6
}

.mode{position:fixed;border-bottom-left-radius:0.5rem;border-bottom-right-radius:0.5rem;top:0;left:calc(50% - 5rem);width:10rem;height:2rem;line-height:2rem;text-align:center;background:rgba(255,255,255,0.8);z-index:10000;font-size:1.1rem}
.mode:before{content:'MODE ON';color:#fff;font-family: var(--fontFB)}
.mode.on{background:rgba(0,0,0,1)}
.mode.on:before{color:#fff}

.wrap.has_bg,.wrap.has_bg .header,
.has_bg,.has_bg .header,.has_bg .container{background-color:#f2f4f6}

.wrap{position:absolute;width:100%;height:100%;overflow:auto;top:0;left:0}
#u_skip{position:relative;z-index:3000} 
#u_skip a{position:absolute;top:-3rem;left:0;width:100%;background:var(--theme);color:var(--themeC);text-align:center} 
#u_skip a:active,#u_skip a:focus{top:0;text-decoration:none;z-index:1000} 
#u_skip span{display:inline-block;font-size:1.2rem;line-height:2.6rem;color:#fff;letter-spacing:-1px;white-space:nowrap} 

/* 헤더 */
.header {position:fixed;background-color:#fff;top:0;left:50%;width:100%;padding:0 var(--paddCommon2);z-index:100;height:4.1rem;transform:translateX(-50%)}
.header.nofix {position:absolute}/* 헤더가 따라오지 않아야 할 경우 */
.header nav {display:flex;justify-content:space-between;width:100%;height:4.1rem;align-items:center}
.header nav ul{width:100%;height:4.1rem}
.header nav .back-btn {display:flex;align-items:center;text-indent:-999999px;font-size:0;line-height:0;background:transparent;width:4rem;height:4.1rem;margin-left:-1.5rem}
.header nav .back-btn::after {content:'';background:url('/images/icon/icon_back.png') 50% 50% no-repeat;background-size:auto 1.6rem;text-indent:0;line-height:1;width:100%;height:100%;display:block}
.header nav .home-btn {display:block;height:4.1rem;line-height:4.1rem;font-family:var(--fontFM);color:#333;font-size:1.4rem;margin-right:-1rem;padding:0 1rem;text-align:center}
.header nav .header-title {overflow:hidden;font-size:1.2rem;color:var(--grayCommon)}

/* 컨테이너 */
.modalOn {overflow-y:hidden !important;height:100vh;touch-action:none}
.container {width:100%;height:100%;margin:0 auto}
[data-role="content"] {display:flex;flex-direction:column;justify-content:space-between;position:relative;min-height:100vh}
[data-role="content"].fixed {padding-bottom:10rem}/* 고정버튼 있을 경우 */
[data-role="content"].fixed2 {padding-bottom:30rem}/* 디자인된 키패드있는경우 */
[data-role="content"]>section:first-child:not(.sub_con){padding-top:8rem}

/* 푸터 공통 - 하단 고정 버튼 영역 */
.content-footer {width:100%;padding: 0 1.6rem;margin:0 auto;backface-visibility:hidden}
/* 하단 고정  */
[data-role="content"].fixed .content-footer {position:fixed;bottom:0;left:50%;transform:translateX(-50%);z-index:300}
[data-role="content"].fixed .content-footer.self-bottom {position:absolute}/* 디바이스 키페드 올라올 경우 버튼이 키패드 위로 갈때 */
[data-role="content"].fixed2 .content-footer {position:fixed;bottom:0;left:50%;transform:translateX(-50%);z-index:300}
[data-role="content"].fixed2 .content-footer.self-bottom {position:absolute}/* 디바이스 키페드 올라올 경우 버튼이 키패드 위로 갈때 */
.bg_gra{background-image: linear-gradient(180deg, rgba(242,244,246,0.00) 5%, rgba(242,244,246,0.65) 10%, #F2F4F6 20%)}
.bg_gra_f{background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 5%, rgba(255,255,255,0.65) 10%, #fff 20%)}

/* 공통 - 메뉴 */
.menu {}
.menu-set {display:flex;width:100%;flex-wrap:wrap}
.menu .item {text-align:center;margin:0 1rem;height:3.7rem}
.menu .item:first-child{margin-left:0}
.menu .item a {display:block;color:var(--grayCommon);font-size:1.8rem;font-family:var(--fontFB);padding-bottom:0.7rem;height:3.7rem}
.menu .item.on a{border-bottom:2px solid #111;color:#111}
.menu.menu_sub{margin-top:2.4rem}
.menu.menu_sub .item{height:2.7rem}
.menu.menu_sub .item a{padding-bottom:0.6rem;line-height:1.9rem;height:2.7rem;font-size:1.6rem}

/* 본문제목영역 */
.menu_title {color:#111;font-size:2rem;line-height:2.2rem;font-family:var(--fontFB)}
.con_title {color:#111;font-size:1.6rem;font-family:var(--fontFB)}
.con_title_s {color:#111;font-size:1.4rem;font-family:var(--fontFB)}
.btn_more{font-size:1.4rem;color:#666}
.btn_more>i{margin-left:0.4rem}

/* 컨텐츠 - 구분라인 */
.line_btm{border-bottom:1rem solid #fafafa}

/* 아이콘 */
.ico_more_arw:before{content:'';display:inline-block;background:url(/images/icon/icon_more.png) 0 0 no-repeat;background-size:auto 0.9rem;width:0.5rem;height:0.9rem}
.ico_more_arw2{display:inline-block;width:0.6rem;height:1rem;background:url(/images/icon/ico_more_arw.png) 0 50% no-repeat;background-size:0.6rem auto}
.ico_live{position:relative;white-space:nowrap;display:inline-block;vertical-align:top;padding-left:0.8rem;color:#F72A27;font-size:0.8rem;font-family:var(--fontFB);text-align:left;line-height:2.2rem}
.ico_live:before{content:'';position:absolute;top:0.8rem;left:0;display:block;width:0.5rem;height:0.5rem;background:url(/images/icon/icon_live_dot.png) 0 0 no-repeat;background-size:0.5rem;border-radius:0.5rem}
.ico_delay{position:relative;white-space:nowrap;display:inline-block;vertical-align:top;padding-left:0.6rem;color:#9827F7;font-size:0.8rem;font-family:var(--fontFB);text-align:left;line-height:2.2rem}
.ico_delay:before{content:'';position:absolute;top:0.9rem;left:0;display:block;width:0.6rem;height:0.6rem;background:url(/images/icon/icon_delay_dot.png) 0 0 no-repeat;background-size:0.4rem}
.ico_end{position:relative;white-space:nowrap;display:inline-block;vertical-align:top;padding-left:0.6rem;color:#767676;font-size:0.8rem;font-family:var(--fontFB);text-align:left;line-height:2.2rem}
.ico_end:before{content:'';position:absolute;top:0.9rem;left:0;display:block;width:0.6rem;height:0.6rem;background:url(/images/icon/icon_end_dot.png) 0 0 no-repeat;background-size:0.4rem}
.ico_srh_del{display:inline-block;width:5.4rem;height:5.3rem;background:url(/images/icon/ico_del.png) 50% 50% no-repeat;background-size:1rem}
.ico_buy{color:var(--colorUp);position:relative;padding-left:1.5rem;font-size:1.2rem;font-family:var(--fontFB)}
.ico_buy:before{content:'';position:absolute;top:0;left:0;display:inline-block;width:1.4rem;height:1.4rem;background:url(/images/icon/ico_s_buy.png) 0 50% no-repeat;background-size:1.2rem auto}
.ico_sell{color:var(--colorDown);position:relative;padding-left:1.5rem;font-size:1.2rem;font-family:var(--fontFB)}
.ico_sell:before{content:'';position:absolute;top:0;left:0;display:inline-block;width:1.4rem;height:1.4rem;background:url(/images/icon/ico_s_sell.png) 0 50% no-repeat;background-size:1.2rem auto}
.ico_order_cancel{color:#666;position:relative;padding-left:1.5rem;font-size:1.2rem;font-family:var(--fontFB)}
.ico_order_cancel:before{content:'';position:absolute;top:0;left:0;display:inline-block;width:1.4rem;height:1.4rem;background:url(/images/icon/ico_s_del.png) 0 50% no-repeat;background-size:1.2rem auto}
.ico_btn_bk{display:inline-block;white-space: nowrap;font-size:1rem;padding:0 0.6rem;background-color:#fff;border:0.1rem solid #111;color:#111;border-radius:0.9rem;line-height:1.8rem;height:1.8rem}
.ico_btn_red{display:inline-block;white-space: nowrap;font-size:1rem;padding:0 0.6rem;background-color:#fff;border:0.1rem solid #ff0000;color:#ff0000;border-radius:0.9rem;line-height:1.8rem;height:1.8rem}
.ico_btn_green{display:inline-block;white-space: nowrap;font-size:1rem;padding:0 0.6rem;background-color:#fff;border:0.1rem solid #84C13D;color:#84C13D;border-radius:0.9rem;line-height:1.8rem;height:1.8rem}
.ico_btn_purple{display:inline-block;white-space: nowrap;font-size:1rem;padding:0 0.6rem;background-color:#fff;border:0.1rem solid #9827F7;color:#9827F7;border-radius:0.9rem;line-height:1.8rem;height:1.8rem}
.ico_btn_gray{display:inline-block;white-space: nowrap;font-size:1rem;padding:0 0.6rem;background-color:#e5e5e5;border:0.1rem solid #e5e5e5;color:#111;border-radius:0.9rem;line-height:1.8rem;height:1.8rem}
.ico_money{display:inline-block;width:2.2rem;height:2.2rem;background:url(/images/icon/icon_money.png) 0 0 no-repeat;background-size:2.2rem auto}
.ico_i{display:inline-block;width:1.4rem;height:1.4rem;background:url(/images/icon/icon_i.png) 0 0 no-repeat;background-size:1.4rem auto}

/* 상한,상승,보합,하락,하한 */
.ico_updw0{color:var(--colorKeep)}
.ico_updw{color:var(--colorKeep)}
.ico_updw.up:before{content:'▲';width:1.2rem;text-align:left;display:inline-block;font-size:0.8em;vertical-align:top;padding-top:0.2em;line-height:1em}
.ico_updw.dw:before{content:'▼';width:1.2rem;text-align:left;display:inline-block;font-size:0.8em;vertical-align:top;padding-top:0.2em;line-height:1em}
.ico_updw2{color:var(--colorKeep)}
.ico_updw2.up:before{content:'+';display:inline-block;font-size:0.8em;vertical-align:top;padding-top:0.2em;line-height:1em}
.ico_updw2.dw:before{content:'-';display:inline-block;font-size:0.8em;vertical-align:top;padding-top:0.2em;line-height:1em}
.ico_updw3{color:var(--colorKeep)}
.ico_updw3.up:before{content:'';width:0.6em;height:1em;vertical-align:top;display:inline-block;background:url('/images/icon/ico_upp.png') 0 50% no-repeat;background-size:0.5em auto}
.ico_updw3.dw:before{content:'';width:0.6em;height:1em;vertical-align:top;display:inline-block;background:url('/images/icon/ico_dww.png') 0 50% no-repeat;background-size:0.5em auto}
.up{color:var(--colorUp)}
.dw{color:var(--colorDown)}
.ico_fix.ico_updw, .ico_fix .ico_updw{position:relative;display:block}
.ico_fix.ico_updw:before,.ico_fix .ico_updw:before{position:absolute;top:0;left:0.4rem}
			
/* no data */
.no_data{text-align:center;background-color:#fff;border-radius:1rem;padding:4rem 0}
.no_data.no_bg{background:none}
.ico_one{width:8rem;height:8rem;border-radius:8rem;background-color:hsl(0deg 0% 93%);display: inline-flex;align-items: center;justify-content: center}
.ico_one:before{content:'IMG';font-family:var(--fontFB);color:hsl(0deg 0% 40%)}
.no_tx{display:block;color:#666;line-height:2.2rem}
.btn_add{display:inline-block;font-size:1.2rem;padding:0 1.6rem;line-height:3.2rem;height:3.2rem;border:0.1rem solid #111;border-radius:0.6rem}
.btn_line{display:inline-block;overflow:hidden;text-align:center;font-size:1.2rem;padding:0 1rem;line-height:2.6rem;height:2.8rem;border:0.1rem solid #111;border-radius:0.6rem}
.btn_disa{display:inline-block;overflow:hidden;text-align:center;font-size:1.2rem;padding:0 1rem;line-height:2.8rem;height:2.8rem;background-color:#F0F0F0;color:#ccc;border-radius:0.6rem}

								
/* 공통 - 버튼 */
/* 버튼 그룹화 */
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active {background-color:#e0e0e4;border-color:#e0e0e0;pointer-events:none;color:#989da9}
.disa[disabled],
.disa[disabled]:hover,
.disa[disabled]:active{background-color:#e0e0e4;border-color:#e0e0e0;pointer-events:none;color:#989da9}

.btn{display:flex;justify-content:center;align-items:center;flex:1 0 auto;position:relative;width:100%}
.btn_moreview{color:#333;background-color:#e8eaec;font-size:1.3rem;height:4.4rem;border-radius:1rem}
.btn_register{color:#333;font-size:1.3rem;color:#333;background-color:#e8eaec;height:4.4rem;border-radius:1rem}
.btn_register:before{content:'';display:inline-block;margin-right:0.4rem;width:1rem;height:1rem;background:url(/images/icon/ico_more.png) 0 0 no-repeat;background-size:1rem auto}
.btn_updw{background:var(--colorKeep);border-radius:0.4rem;display:inline-block;width:6rem;min-width:6rem;height:2.8rem;line-height:2.8rem;text-align:center;color:#fff;font-size:1.2rem}
.btn_updw.up{background-color:var(--colorUp)}
.btn_updw.up:before{content:"+"}
.btn_updw.dw{background-color:var(--colorDown)}
.btn_updw.dw:before{content:"-"}
.btn_updw2{display:inline-block;height:2rem;line-height:2rem;border-radius:2rem;text-align:center;width:5.5rem;font-size:1.2rem;background:var(--colorKeep);color:#fff;overflow:hidden;font-family:var(--fontF);letter-spacing:-0.05em}
.btn_updw2.up{background-color:var(--colorUp)}
.btn_updw2.dw{background-color:var(--colorDown)}
.inp_sel_btn1{position:relative;color:var(--grayCommon);display:block;height:3.7rem;line-height:3.3rem;font-size:1.4rem;border:0.2rem solid #ccc;border-radius:0.6rem;background-color:#fff;padding:0 1.2rem}
.inp_sel_btn1:before{content:'';top:0;right:0;display:block;width:3.3rem;height:3.3rem;position:absolute;background:url(/images/icon/ico_sel_arw1.png) 50% 50% no-repeat;background-size:0.8rem auto}
.inp_sel_btn1.on{border-color:#888}
.inp_sel_btn1.on:before{background:url(/images/icon/ico_sel_arw.png) 50% 50% no-repeat;background-size:0.8rem auto}
.btn_minus{display:block;width:3.8rem;height:3.8rem;border-radius:0.6rem;background:url(/images/icon/ico_minus.png?) 50% 50% no-repeat;background-size:3.8rem auto}
.btn_plus{display:block;width:3.8rem;height:3.8rem;border-radius:0.6rem;background:url(/images/icon/ico_plus.png?) 50% 50% no-repeat;background-size:3.8rem auto}
.btnArea{display:flex;justify-content:space-around; width:100%;padding:var(--paddCommon3) 0}
.btn01 {line-height:4.8rem;background-color:var(--theme);color:var(--themeC);font-size:1.6rem;text-align:center;font-family:var(--fontFM);border-radius:4.8rem;flex:1 auto}
.btn_red{line-height:4.8rem;background-color:var(--colorUp);color:#fff;font-size:1.6rem;text-align:center;font-family:var(--fontFM);border-radius:4.8rem;flex:1 auto}
.btn_gray{line-height:4.8rem;background-color:#e5e5e5;color:#111;font-size:1.6rem;text-align:center;font-family:var(--fontFM);border-radius:4.8rem;flex:1 auto}
.btn_bl{line-height:4.8rem;background-color:var(--colorDown);color:#fff;font-size:1.6rem;text-align:center;font-family:var(--fontFM);border-radius:4.8rem;flex:1 auto}
.btn_cht{display:inline-block;min-width:2.2rem;width:100%;height:2.8rem;padding:0 0.4rem;background:url(/images/icon/icon_line_cht.png) 50% 50% no-repeat;background-size:2.2rem auto}
.btn_cht.candle{background:url(/images/icon/icon_candle_cht.png) 50% 50% no-repeat;background-size:2.2rem auto}
.btn_refresh{display:inline-block;width:2.2rem;height:2.2rem;background:url(/images/icon/icon_refresh.png) 0 0 no-repeat;background-size:2.2rem auto}
.btn_q{display:inline-block;width:1.4rem;height:1.4rem;background:url(/images/icon/icon_q.png) 0 0 no-repeat;background-size:1.4rem auto}
.btn_q_opacity{display:inline-block;width:1.4rem;height:1.4rem;background:url(/images/icon/icon_q_opacity.png) 0 0 no-repeat;background-size:1.4rem auto}

/* 공통 - input */	
.inp_tx{display:inline-block;height:3.7rem;line-height:3.7rem;font-size:1.4rem;border:0.2rem solid #ccc;border-radius:0.6rem;background-color:#fff;padding:0 1.2rem}
.inp_tx.on{border-color:#888}
.inp_tx>input{height:3.4rem;vertical-align:top;width:100%;font-size:1.4rem}		
				
/* 공통 - 모양 */
/* 그림자 박스 */
.shadow{box-shadow:var(--shadowStyle)}

/* 스와이프가 1개일 경우 스와이프 기능 정지 */
.stop-swipe .swiper-wrapper{transform:translate3d(0px, 0, 0) !important}
.stop-swipe .pagination-wrap.disabled{display:none}
.stop-swipe.mystock_list>ul>li{width:100%}
.stop-swipe.mystock_list>ul>li .mysacc_list{height:auto}


/* 공통 - 팝업 */
/* popup layout */
.popup_wrapper{display:none;opacity:0;position:fixed;top:0;bottom:0;right:0;left:0;width:100%;height:100vh;z-index:1000}
.popup_wrapper.opened{display:block;animation:0.3s forwards ease-in-out pop_open}
.popbg_close{position:fixed;left:0;right:0;top:0;bottom:0;background:transparent;text-indent:-999999px;z-index:1}
@keyframes pop_open{100% {opacity:1}}
.pop_footer{display:flex;justify-content:space-between;width:100%;font-size:0}
.popup_wrapper.popbg:before{content:'';position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0, 0, 0, .45);text-indent:-999999px;z-index:-1}
/* popup btns */
.btn_pop1{line-height:6rem;height:6rem;padding:0;min-width:50%;margin:0;float:left;color:#111;background-color:#e5e5e5;font-size:1.6rem;text-align:center;font-family:var(--fontFM);flex:1 0 50%}
.btn_pop2{line-height:6rem;height:6rem;padding:0;min-width:50%;margin:0;float:left;background-color:var(--theme);color:var(--themeC);font-size:1.6rem;text-align:center;font-family:var(--fontFM);flex:1 0 50%}
.btn_pop3{line-height:4.8rem;height:4.8rem;padding:0;background-color:var(--theme);color:var(--themeC);font-size:1.6rem;text-align:center;font-family:var(--fontFM);border-radius:4.8rem;flex:1 calc(50% - 0.5rem)}
.btn_pop4{color:#111;line-height:4.8rem;height:4.8rem;padding:0;background-color:#e5e5e5;font-size:1.6rem;text-align:center;font-family:var(--fontFM);border-radius:4.8rem;flex:1 1 calc(50% - 0.5rem)}
.cols2>*:first-child{margin-right:0.5rem;flex:1 50%}
.cols2>*:last-child{margin-left:0.5rem;flex:1 50%}
.fullpop{position:fixed;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background:#fff;overflow:auto}

/* popup alert */
.pop_alert{position:relative;z-index:1;display:flex;justify-content:center;align-items:center;z-index:2;width:100%;height:100%}
.pop_alert .pop_in{position:relative;z-index:2;overflow:hidden;border-radius:2rem;background-color:#fff;width:calc(100% - 4.8rem)}
.pop_alert .pop_con{margin:3rem 2.4rem;max-height:calc(100vh - 21rem);overflow-y:auto}
.alert_tx1{line-height:2.4rem;font-size:1.8rem;font-family:var(--fontFB)}
.alert_tx1_1{line-height:2.4rem;font-size:1.8rem}
.alert_tx2{line-height:2rem;padding-top:0.4rem;font-size:1.4rem;color:#666}

/* popup function */
.opened.popup_wrapper{border:10px solid red; display: flex;justify-content: center;align-items: flex-end;height:100%}
.opened .pop_function{position:relative;width:100%}
.opened .pop_function .pop_in{animation:0.3s forwards ease-in-out popfun}
.pop_function .pop_in{position:absolute;z-index:2;padding:0 1.6rem var(--paddCommon3);border-top-left-radius:2rem;border-top-right-radius:2rem;-overflow-y:auto;bottom:-100vh;left:0;z-index:1010;width:100%;max-height:calc(100vh - 5rem);height:auto;background-color:#fff;-webkit-overflow-scrolling:touch}
@keyframes popfun{100% {bottom:0}}
.pop_header{height:6rem}
.pop_header>h3{font-size:2rem;font-family:var(--fontFM);line-height:6rem;height:6rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.pop_function .pop_con{max-height:33rem;overflow-y:auto}
.dimmed {position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0, 0, 0, .45);text-indent:-999999px;z-index:-1}

/* popup alarm */
.pop_alarm_out{position:fixed;width:100%;left:0;bottom:9.6rem;z-index:11000;max-height:calc(100vh - 11rem);overflow: auto}
.pop_alarm_out.top{bottom:auto;top:1.2rem}
.pop_alarm_out .pop_alarm:last-child{margin-bottom:0}
.pop_alarm{font-size:1.4rem;margin-bottom:0.5rem;font-family:var(--fontFM);padding:1.2rem 2rem;line-height:2rem;background:rgba(0,0,0,0.8);border-radius:1rem;color:#fff;text-align:center}
	
	
/* 공통 - 달력 */
.controlDiv {position:relative;display:flex;height:5.4rem;width:100%;justify-content:center;align-items:center;border-bottom:0.1rem solid #EDEDED}
.controlDiv p{line-height:2.4rem;height:2.4rem}
.controlDiv p>a{display:inline-block;width:1.8rem;height:2.4rem}
.controlDiv p.prev2>a{background:url(/images/icon/ico_cal_arw_pprev.png) 50% 50% no-repeat;background-size:auto 1.2rem}
.controlDiv p.prev>a{background:url(/images/icon/ico_cal_arw_prev.png) 50% 50% no-repeat;background-size:auto 1.2rem}
.controlDiv p.yearDate{line-height:2.6rem;font-family:var(--fontFB);width:11rem;text-align:center}
.controlDiv p.next>a{background:url(/images/icon/ico_cal_arw_next.png) 50% 50% no-repeat;background-size:auto 1.2rem}
.controlDiv p.next2>a{background:url(/images/icon/ico_cal_arw_nnext.png) 50% 50% no-repeat;background-size:auto 1.2rem}
.controlDiv p.today{position:absolute;top:1.5rem;right:0.5rem}
.controlDiv p.today>a{width:auto;border-bottom:0.1rem solid #111;white-space:nowrap;height:2rem;font-size:1.2rem}
.weeks{display:table;width:100%;table-layout:fixed}
.weeks>ul{display:table-row-group}
.weeks>ul>li{display:table-cell;color:var(--grayCommon);text-align:center;font-size:1.4rem;line-height:4rem}
.table-condensed>tbody>tr>td{padding:0.4rem;text-align:center}
.table-condensed>tbody>tr>td>a{font-size:1.4rem;font-family:var(--fontFB);display:inline-block;width:3.6rem;height:3.6rem;line-height:3.6rem;text-align:center;border-radius:3.6rem}
.table-condensed>tbody>tr>td:first-child{color:var(--grayCommon)}
.table-condensed>tbody>tr>td:last-child{color:var(--grayCommon)}
.table-condensed>tbody>tr>td.old>a,
.table-condensed>tbody>tr>td.new>a {color:#d8d8d8;font-family:inherit}
.table-condensed>tbody>tr>td.active>a,
.table-condensed>tbody>tr>td.active>a:focus {color:#fff;background-color:#000;border:0;position:relative}
.calendarClose{margin-top:2.4rem}
.calendarClose, .btn_pop3{width:100%}

/* 공통 - tooltip */
.tip_box{font-family:var(--fontF);position:absolute;min-width:10rem;z-index:100;border-radius:0.5rem;background-color:#555;padding:0.4rem 0.8rem 0.3rem;line-height:1.5rem;color:#fff;font-size:1.2rem}
.tip_box:before{content:'';position:absolute;bottom:-10px;left:8px;width:0;height:0;border:5px solid transparent;border-left-width:4px;border-right-width:4px;border-top-color:#555}

/* 공통 - table */
.tb{border-top:0.1rem solid #e7e7e7}
.tb thead>tr>th{font-size:1.2rem;background-color:#f7f7f7;color:var(--garyCommon);border-left:0.1rem solid #e7e7e7;border-bottom:0.1rem solid #e7e7e7}
.tb thead>tr>th:first-child,.tb tbody>tr>td:first-child{border-left:0}
.tb tr>th,.tb tbody>tr>td{min-height:4rem;padding:1rem 0.4rem;word-break: break-all;font-weight: normal}
.tb tbody>tr>td,.tb tbody>tr>th{font-size:1.3rem;color:#333;border-left:0.1rem solid #e7e7e7;border-bottom:0.1rem solid #f5f5f5;text-align:left}
.tb_bdl{border-left:0.1rem solid #e7e7e7 !important}

.tb2{border-top:0.1rem solid #e7e7e7;border-bottom:0.1rem solid #e7e7e7}
.tb2 tbody>tr>th,.tb2 tbody>tr>td{border-left:0.1rem solid #e7e7e7;border-top:0.1rem solid #eee;min-height:4rem;padding:1rem 0.6rem;word-break: break-all;font-weight: normal}
.tb2 tbody>tr:first-child>th,.tb2 tbody>tr:first-child>td{border-top:0}
.tb2 tbody>tr>th:first-child,.tb2 tbody>tr>td:first-child{border-left:0}
.tb2 tbody>tr>th{font-size:1.2rem;color:#888;background-color:#f7f7f7;}
.tb2 tbody>tr>td{font-size:1.4rem;color:#333;}
.pop_in .tb2 tbody>tr>th, .tb2 tbody>tr>td{padding:1rem}

.tb_s tbody>tr>th{font-size:1rem}
.tb_s tbody>tr>td{font-size:1rem}
.tb_s tbody>tr>th, .tb_s tbody>tr>td{padding:1.1rem 0;font-weight: normal}

/* 공통 - 약관 */
.terms_title{font-size:2.4rem}

.terms_tb{border-top:0.1rem solid #e7e7e7}
.terms_tb tr>th{background-color:#f7f7f7;color:var(--garyCommon);border-bottom:0.1rem solid #e7e7e7;font-size:1rem;word-break: break-all;font-weight: normal;border-left:0.1rem solid #e7e7e7;vertical-align:middle;padding:0.4rem;}
.terms_tb thead>tr>th:first-child,.terms_tb tbody>tr>th:first-child,.terms_tb tbody>tr>td:first-child{border-left:0}
.terms_tb tbody>tr>td,.terms_tb tbody>tr>th{font-size:1rem;word-break: break-all;font-weight: normal;color:#333;border-left:0.1rem solid #e7e7e7;border-bottom:0.1rem solid #f5f5f5;vertical-align: middle;padding:0.4rem;}

.terms_tb2{border:0.1rem solid #e7e7e7}
.terms_tb2 tr>th{background-color:#e7e7e7;color:var(--garyCommon)}
.terms_tb2 tbody>tr>td,.terms_tb2 tbody>tr>th{font-size:1rem;word-break: break-all;font-weight: normal;color:#333;vertical-align: middle;padding:1rem;}

.terms_tb_tr{display:flex;flex-wrap: wrap;border:0.1rem solid #e7e7e7}
.terms_tb_tr>dl{flex:1 50%;border-left:0.1rem solid #e7e7e7}
.terms_tb_tr>dl:first-child{border-left:0}
.terms_tb_tr>dl>dt{font-family:var(--fontFB);border-bottom:0.1rem solid #e7e7e7;background:#f7f7f7;color: #333;}
.terms_tb_tr>dl>dt,.terms_tb_tr>dl>dd{padding:0.5rem}
.item_tr{display:flex;flex-wrap: wrap;justify-content: space-between;}

.termsbtn{font-size:1.3rem;display:block;box-sizing:border-box;border-radius:0.5rem;background:#888;width:100%;text-align:center;line-height:4.4rem;height:4.4rem;color:#fff}

.terms_tb_tr dd .terms_ul>ul>li{font-size:1rem;line-height:1.5rem;margin-bottom:0}
.terms_tb_tr dd .terms_ul>ul>li.icon_sq:before{top:0.5rem}
.terms_ul>ul.sl>li{padding-left:1.5rem}
.terms_ul>ul>li{position:relative;margin-bottom:1rem;font-size:1.3rem;color:#000;line-height:1.9rem;padding-left:1rem}
.terms_ul>ul>li>i{position:absolute;top:0;left:0;width:1rem;line-height:1.9rem}
.terms_ul>ul>li.icon_sq:before{content:'';display:inline-block;width:0.3rem;height:0.3rem;background:#000;position:absolute;top:0.7rem;left:0.3rem}
.terms_ul>ul>li.c_bl.icon_sq:before{background:var(--colorDown)}
.terms_ul>ul>li.c_bl{color:var(--colorDown);font-size:1.3rem}
.terms_ul>ul>li.c_rd.icon_sq:before{background:var(--colorUp)}
.terms_ul>ul>li.c_rd{color:var(--colorUp)}
					
.bgc_risk1{background-color:#333;color:#fff}
.bgc_risk2{background-color:#00A551;color:#fff}
.bgc_risk3{background-color:#93c74d;color:#fff}
.bgc_risk4{background-color:#FF9200;color:#fff}
.bgc_risk5{background-color:#FF6800;color:#fff}
.bgc_risk6{background-color:#FF3A00;color:#fff}
.bgc_risk1_u{background-color:#F7F7F7;color:#666}
.bgc_risk2_u{background-color:#F5FFEC;color:#00A551}
.bgc_risk3_u{background-color:#ECF3FF;color:#009AFF}
.bgc_risk4_u{background-color:#FFF3EC;color:#FF9200}
.bgc_risk5_u{background-color:#FFF2EC;color:#FF6800}
.bgc_risk6_u{background-color:#FFECEC;color:#FF3A00}

.grade_box{position:relative;padding:1.6rem 1rem 0 1rem;min-height:7rem;border:0.1rem solid #d7d7d7}
.grade_box.r_qr{padding:2.1rem 8rem 1.9rem 1rem}
.grade_list{display:table;width:100%;table-layout:fixed}
.grade_list>ul{display:table-row-group}
.grade_list>ul>li{display:table-cell;width:20%;text-align:center;position:relative;height:4rem;font-size:1.2rem}
.grade_list>ul>li>span{display:block;line-height:1.1rem;word-break:break-all}
.grade_list>ul>li.active{font-weight:bold;position:relative}
.grade_list>ul>li.active:before{z-index:2;content:'';display:block;position:absolute;bottom:0.9rem;left:50%;margin-left:-0.8rem;width:0;height:0;border:0.8rem solid transparent}
.grade_list>ul>li:after{position:absolute;z-index:1;bottom:0;content:'';display:block;width:calc(100% - 0.2rem);height:0.8rem;border:0.1rem solid #fff;margin-top:1rem}
.grade_list>ul>li.g_opt1:after{background:#24a6d2;border-color:#009dc2;border-top-left-radius:0.8rem;border-bottom-left-radius:0.8rem}
.grade_list>ul>li.g_opt1.active>span{color:#009dc2}
.grade_list>ul>li.g_opt1.active:before{border-bottom-color:#24a6d2}
.grade_list>ul>li.g_opt2:after{background:#65bc55;border-color:#52b148}
.grade_list>ul>li.g_opt2.active>span{color:#52b148}
.grade_list>ul>li.g_opt2.active:before{border-bottom-color:#65bc55}
.grade_list>ul>li.g_opt3:after{background:#efcf1d;border-color:#edc11c}
.grade_list>ul>li.g_opt3.active>span{color:#edc11c}
.grade_list>ul>li.g_opt3.active:before{border-bottom-color:#efcf1d}
.grade_list>ul>li.g_opt4:after{background:#f5943f;border-color:#ef7f29}
.grade_list>ul>li.g_opt4.active>span{color:#ef7f29}
.grade_list>ul>li.g_opt4.active:before{border-bottom-color:#f5943f}
.grade_list>ul>li.g_opt5:after{background:#ee4025;border-color:#e02e28;border-top-right-radius:0.8rem;border-bottom-right-radius:0.8rem}
.grade_list>ul>li.g_opt5.active>span{color:#e02e28}
.grade_list>ul>li.g_opt5.active:before{border-bottom-color:#ee4025}
.qrA{position:absolute;top:0.5rem;right:0.5rem;width:7rem;background:#f9f9f9;height:7rem;text-align:center;line-height:7rem}
.qrA>img{vertical-align:top;width:7rem}

.ico_g1{background:#24a6d2;border:0.1rem solid #009dc2;color:#fff;font-size:1rem;display:inline-block;padding:0 5px;line-height:1.5rem;height:1.6rem;border-radius:2rem}
.ico_g2{background:#65bc55;border:0.1rem solid #52b148;color:#fff;font-size:1rem;display:inline-block;padding:0 5px;line-height:1.5rem;height:1.6rem;border-radius:2rem}
.ico_g3{background:#efcf1d;border:0.1rem solid #edc11c;color:#fff;font-size:1rem;display:inline-block;padding:0 5px;line-height:1.5rem;height:1.6rem;border-radius:2rem}
.ico_g4{background:#f5943f;border:0.1rem solid #ef7f29;color:#fff;font-size:1rem;display:inline-block;padding:0 5px;line-height:1.5rem;height:1.6rem;border-radius:2rem}
.ico_g5{background:#ee4025;border:0.1rem solid #e02e28;color:#fff;font-size:1rem;display:inline-block;padding:0 5px;line-height:1.5rem;height:1.6rem;border-radius:2rem}

				
/* 공통 - list */
.hyphenlist>li{position:relative;display:flex;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit}
.hyphenlist>li>*{flex:0 auto}
.hyphenlist>li:before{content:'-';flex:0 1rem;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit}
.dotlist>li{position:relative;display:flex;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit}
.dotlist>li>*{flex:0 auto}
.dotlist>li:before{content:'·';flex:0 1rem; margin-right:0.5rem;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit}
.iconlist>li{position:relative;display:flex;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit}
.iconlist>li>*{flex:0 auto}
.iconlist>li:before{content:attr(data-icon);flex:0; margin-right:0.5rem;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit}

/* 공통 - 유의사항list */
.caution>strong{font-size:2rem;font-family:'notoSansB';color:#111;line-height:2.2rem;display:block;padding-bottom:2rem}
.caution>ul.sl>li{padding-left:1.5rem}
.caution>ul>li{position:relative;font-size:1.3rem;color:#666;line-height:1.9rem;margin-bottom:1rem;padding-left:1rem}
.caution>ul>li>i{position:absolute;top:0;left:0;width:1rem;font-size:1rem;line-height:1.9rem}
.caution>ul>li.data-icon-dot:before{content:'';display:inline-block;width:0.3rem;height:0.3rem;background:#666;position:absolute;top:0.7rem;left:0;}

			
/* 공통 - error */
.error_box{text-align:center}
.error_box:before{content:'';background-image: url(/images/ai/img_ai08.png);background-size: 9rem auto;width:9rem;height:9rem;display:inline-block}
.error_box>span{display:block;margin:3rem 0}

/* 공통 - 로딩바*/
.loading{display:flex;justify-content:center;align-items:center;position:fixed;top:0;left:0;bottom:0;right:0;width:100%;height:100%;z-index:10000;/* background:rgba(0,0,0,0.45) */}
.loader {dsiplay:inline-block;position:relative;width:8rem;height:1.6rem}
.loader:before , .loader:after{content: "";position: absolute;width: 1.6rem;height: 1.6rem;border-radius: 50%;background: #0F327F;box-shadow: 3.2rem 0 #0F327F;left:0;top:0;animation: ballMoveX 0.7s linear infinite}
.loader:after {box-shadow: none;transform: translateX(64px) scale(1);z-index: 2;animation: none;animation: trfLoader 0.7s linear infinite}
@keyframes trfLoader {
  0% , 5%{transform: translateX(64px) scale(1);background: #B1F54D}
  10%{transform: translateX(64px) scale(1); background: #B1F54D}
  40%{transform: translateX(32px) scale(1.5);background: #B1F54D}
  90%, 95% {transform: translateX(0px) scale(1);background: #B1F54D}
  100% {transform: translateX(0px) scale(1);background: #B1F54D}
}
@keyframes ballMoveX {
  0% , 10%{transform: translateX(0)}
  90%, 100% { transform: translateX(32px)}
}

/* 스크롤 처리 */
.disableScroll{height:100%;overflow:hidden;touch-action:none}
.ableScroll{height:100%;overflow:auto}

/* 은행 로고 */
*[data-bankcode="002"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_kdb.svg') no-repeat}/* 산업은행 bankcode=002 */
*[data-bankcode="003"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_ibk.svg') no-repeat}/* 기업은행 bankcode=003 */
*[data-bankcode="004"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_kb.svg') no-repeat}/* 국민은행 bankcode=004 */
*[data-bankcode="007"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_suhyup.svg') no-repeat}/* 수협 bankcode=007 */
*[data-bankcode="011"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_nh.svg') no-repeat}/* 농협 bankcode=011 */
*[data-bankcode="012"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_nh.svg') no-repeat}/* 농협 bankcode=012 */
*[data-bankcode="020"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_woori.svg') no-repeat}/* 우리은행 bankcode=020 */
*[data-bankcode="023"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_sc.svg') no-repeat}/* sc제일은행 bankcode=023 */
*[data-bankcode="027"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_citi.svg') no-repeat}/* 한국씨티은행 bankcode=027 */
*[data-bankcode="031"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_dgb.svg') no-repeat}/* 대구은행 bankcode=031 */
*[data-bankcode="032"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_bnk.svg') no-repeat}/* 부산은행 bankcode=032 */
*[data-bankcode="034"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_jb.svg') no-repeat}/* 광주은행 bankcode=034 */
*[data-bankcode="035"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_shinhan.svg') no-repeat}/* 제주은행 bankcode=035 */
*[data-bankcode="037"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_jb.svg') no-repeat}/* 전북은행 bankcode=037 */
*[data-bankcode="039"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_bnk.svg') no-repeat}/* 경남은행 bankcode=039 */
*[data-bankcode="045"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_kfcc.svg') no-repeat}/* 새마을금고 bankcode=045 */
*[data-bankcode="048"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_cu.svg') no-repeat}/* 신협 bankcode=048 */
*[data-bankcode="050"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_sb.svg') no-repeat}/* 상호저축 bankcode=050 */
*[data-bankcode="054"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_hsbc.svg') no-repeat}/* HSBC bankcode=054 */
*[data-bankcode="055"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_doichi.svg') no-repeat}/* 도이치 bankcode=055 */
*[data-bankcode="057"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_jpmorgan.svg') no-repeat}/* JP모건 bankcode=057 */
*[data-bankcode="060"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_boa.svg') no-repeat}/* 뱅크오브아메리카 bankcode=060 */
*[data-bankcode="061"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_bnp.svg') no-repeat}/* BNP파리바 bankcode=061 */
*[data-bankcode="062"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_icbc.svg') no-repeat}/* 중국공상은행 bankcode=062 */
*[data-bankcode="063"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_china.svg') no-repeat}/* 중국은행 bankcode=063 */
*[data-bankcode="064"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_nfcf.svg') no-repeat}/* 산림조합 bankcode=064 */
*[data-bankcode="067"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_ccb.svg') no-repeat}/* 중국건설은행 bankcode=067 */
*[data-bankcode="071"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_epost.svg') no-repeat}/* 우체국 bankcode=071 */
*[data-bankcode="081"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_hana.svg') no-repeat}/* 하나은행 bankcode=081 */
*[data-bankcode="088"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_shinhan.svg') no-repeat}/* 신한은행 bankcode=088 */
*[data-bankcode="089"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/logo/logo_kbank.png') no-repeat;background-size:3rem}/* 케이뱅크 bankcode=089 */
*[data-bankcode="090"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_kakao.svg') no-repeat}/* 카카오뱅크 bankcode=090 */
*[data-bankcode="092"]:before {content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/ci/ci_toss.svg') no-repeat}/* 토스은행 bankcode=092 */
.logo_nh:before{content:'';display:inline-block;width:3rem;height:3rem;background:url('/images/logo/logo_NHinvest.png') no-repeat;background-size:3rem}

.close_bg{position:absolute;left:0;right:0;top:0;bottom:0;background:transparent;z-index: 1}



